@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    font-family: 'VT323', monospace;
    text-align: center;
    color: whitesmoke;
    font-size: 30pt;
}

#puzzle-html{
    position: absolute;
    top: 0;
    left: 0;
}

a:visited{
    color: black;
}

#index{
    background-image: url(img/index.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    padding-top: 550px;
}

.button{
  background-color: #D9D9D9;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
}

#next{
    background-image: url(img/index2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    padding-top: 550px;
}

#no{
    background-image: url(img/no.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 550px;
}

#loading{
    background-color: black;
}

#start{
    background-image: url(img/start.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#end{
    background-image: url(img/fields.png);
    background-repeat: no-repeat;
    background-size: 100%;
}